
.dur-android-tips-box {
    display: none;
    position:fixed!important; 
    position:absolute;
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%;
}

.dur-v-model {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background: #000;
    z-index: 2019;
}

.dur-popup {
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    z-index: 2020;
}

.dur-android-tips-popup {
    background: #FFFFFF;
    border-radius: 4px;
    height: 387px;
    width: 280px;
    position: relative;
}

.dur-test-flight-close {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.dur-android-tips-popup-image {
    height: 325px;
    width: 280px;
}

.btn-down-android {
    background: #FFD95D;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222222;
    height: 40px;
    width: 155px;
    margin: 10px auto 0;
    text-align: center;
    line-height: 40px;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}