html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #262941;
    font-size: 0.24rem;
    max-width:1160px;
    margin: 0 auto !important;

    width: 100%;
    height: 100%;
}

.mobile{
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    
}
.mobile .fixed-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .fixed-bg .shadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}
.mobile .fixed-bg video{
    object-fit: cover;
}

.mobile .fixed-header{
    position: absolute;
    left: 0.34rem;
    top: 0.3rem;
    display: flex;
    align-items: center;
}

.fixed-header .logo{
    /* width: 1.26rem; */
    margin-right: 3.23rem;
}

.mobile .fixed-header .backButtonClass{

	width: 2.68rem;
    height: 0.64rem;
    
}

.mobile .main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 71%;
    box-sizing: border-box;
    justify-content: flex-end;
    padding-bottom: 0;
}

.mobile .main .center{

    padding-bottom: 0rem;
}
.mobile .main .center .logo{
    width: 2.26rem;
}

.mobile .main .download-btn-tf{
	margin-top: 0.5rem;
    
    width: 5rem;
    height: 0.76rem;
    border-radius: 0.65rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #eeb827;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mobile .main .download-btn-tf i{
    font-size: 0.32rem;
    margin-right: 0.1rem;
}

.mobile .main .download-btn{
    margin-top: 0.5rem;
    
    width: 5rem;
    height: 0.76rem;
    border-radius: 0.65rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #eeb827;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .main .download-btn i{
    font-size: 0.32rem;
    margin-right: 0.1rem;
}

.mobile .main .download-btn-copy {
    margin-top: 0.5rem;
    
    width: 5rem;
    height: 0.76rem;
    border-radius: 0.65rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: #4d8d3d;
    display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mobile .main .download-btn-copy img {
	width:20px;
	height:20px;
	margin-right: 5px;
}
.mobile .main .download-btn-copy span {

}
.mobile .main .download-btn-copy i {
    font-size: 0.32rem;
    margin-right: 0.1rem;
}

.mobile .main .download-btn-help{
    margin-top: 0.5rem;
    
    width: 5rem;
    height: 0.76rem;
    border-radius: 0.65rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: rgb(0, 121, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .main .download-btn-help i{
    font-size: 0.32rem;
    margin-right: 0.1rem;
}
.mobile .main .doc-btn{
    margin-top: 0.3rem;
    font-size: 0.24rem;
}
.mobile .main .doc-btn i{
    font-size: 0.2rem;
}

.mobile .tips{
    position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
	margin-bottom:0; 
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
}
.mobile .tips p{
    box-sizing: border-box;
    padding: 0rem;
    border-radius: 0.285rem;
    
	font-size: 16rpx;
    display: flex;
}

.android-doc-btn{
    display: none;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.bg-slides{
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-slides div{
	position: absolute;
	top:0%;
	left: 0%;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	margin-block: 0;
	
	opacity: 0;
    transition: 1.5s opacity;
}

.bg-slides img{
    position: relative;
    left: 0;
	top:0;
	margin:0;
	padding: 0;
	object-fit: fill;
	width:100%;
}
